USE [master]
GO
/****** Object:  Database [Zuyd_Natuurbrand_Dectectie]    Script Date: 4/8/2020 3:02:33 PM ******/
CREATE DATABASE [Zuyd_Natuurbrand_Dectectie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zuyd_Natuurbrand_Dectectie', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Zuyd_Natuurbrand_Dectectie.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Zuyd_Natuurbrand_Dectectie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Zuyd_Natuurbrand_Dectectie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zuyd_Natuurbrand_Dectectie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zuyd_Natuurbrand_Dectectie]
GO
/****** Object:  Table [dbo].[koppelmeldingTbl]    Script Date: 4/8/2020 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[koppelmeldingTbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nodeId] [int] NOT NULL,
	[meldingId] [int] NOT NULL,
 CONSTRAINT [PK_koppelmeldingTbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meldingenTbl]    Script Date: 4/8/2020 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meldingenTbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datum] [date] NOT NULL,
	[tijd] [time](7) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[beschrijving] [varchar](255) NOT NULL,
 CONSTRAINT [PK_meldingenTbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metingTbl]    Script Date: 4/8/2020 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metingTbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nodeId] [int] NOT NULL,
	[datum] [date] NOT NULL,
	[tijd] [time](7) NOT NULL,
	[luchtVochtigheidSensor] [int] NOT NULL,
	[grondSensor] [int] NOT NULL,
	[diepGrondSensor] [int] NOT NULL,
	[temperatuurSensor] [int] NOT NULL,
 CONSTRAINT [PK_metingTbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nodeTbl]    Script Date: 4/8/2020 3:02:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nodeTbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[locatie] [varchar](50) NOT NULL,
	[natuurgebied] [varchar](50) NOT NULL,
	[actief] [bit] NOT NULL,
	[batterijVervangen] [date] NOT NULL,
 CONSTRAINT [PK_nodeTbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[koppelmeldingTbl]  WITH CHECK ADD  CONSTRAINT [FK_koppel_node] FOREIGN KEY([nodeId])
REFERENCES [dbo].[nodeTbl] ([id])
GO
ALTER TABLE [dbo].[koppelmeldingTbl] CHECK CONSTRAINT [FK_koppel_node]
GO
ALTER TABLE [dbo].[koppelmeldingTbl]  WITH CHECK ADD  CONSTRAINT [FK_koppelmeldingTbl_meldintTbl] FOREIGN KEY([meldingId])
REFERENCES [dbo].[meldingenTbl] ([id])
GO
ALTER TABLE [dbo].[koppelmeldingTbl] CHECK CONSTRAINT [FK_koppelmeldingTbl_meldintTbl]
GO
ALTER TABLE [dbo].[metingTbl]  WITH CHECK ADD  CONSTRAINT [FK_metingTbl_noteTbl] FOREIGN KEY([nodeId])
REFERENCES [dbo].[nodeTbl] ([id])
GO
ALTER TABLE [dbo].[metingTbl] CHECK CONSTRAINT [FK_metingTbl_noteTbl]
GO
USE [master]
GO
