body {
}

.wrapper-page {
    background-image: url('../Images/Background2.jpg');
    background-size: contain;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    left: 0;
    top: 6%;
}

.wrapper-middle {
    color:red;
    height: 550px;
    width: 450px;
    position:absolute;
    left:35%;
    top:10%;
}

.wrapper-left {
    background-color: #6C7F55;
    height: 550px;
    width: 190px;
    position: absolute;
    left:0;
    top:0;
    border-radius:10px;
}

.wrapper-right {
    background-color: white;
    height: 550px;
    width: 275px;
    position: absolute;
    left: 175px;
    top: 0;
    border-radius: 15px;
    -webkit-box-shadow: 7px 7px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 16px 1px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 16px 1px rgba(0,0,0,0.75);
}

.Koptext-left {
    text-align:center;
    left:5%;   
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 6;
}

.adress-text {
    text-align: center;
    left: 9%;
    top:17.5%;
    position: absolute;
    font-size: 16px;
    color: white;
}

.telefoonnummer-text {
    text-align: center;
    left: 9%;
    top: 40%;
    position: absolute;
    font-size: 16px;
    color: white;
}

.email-text {
    text-align: center;
    left: 27%;
    top: 60%;
    position: absolute;
    font-size: 16px;
    color: white;
}

.koptext-right {
    color:black;
    left:7%;
    top:3%;
    position:absolute;
    font-size:12px;
    line-height:6;
    font-weight:bold;
}

.input-voornaam {
    left: 7%;
    top: 13%;
    position: absolute;
    height:auto;
    width:33%;
    border: 1px solid #ccc;
    padding: 7px 10px;
    -webkit-box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
    -moz-box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
    box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
}

.input-voornaam:focus {
    outline: none;
    border: 1px solid green;
}

.input-achternaam {
    left: 50%;
    top: 13%;
    position: absolute;
    height: auto;
    width: 33%;
    border: 1px solid #ccc;
    padding: 7px 10px;
    -webkit-box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
    -moz-box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
    box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
}

.input-achternaam:focus {
    outline: none;
    border: 1px solid green;
}

.input-email {
    left: 7%;
    top: 26%;
    position: absolute;
    height: auto;
    width: 76%;
    border: 1px solid #ccc;
    padding: 7px 10px;
    -webkit-box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
    -moz-box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
    box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
}

.input-email:focus {
    outline: none;
    border: 1px solid green;
}

.input-telefoonnummer {
    left: 7%;
    top: 39%;
    position: absolute;
    height: auto;
    width: 76%;
    border: 1px solid #ccc;
    padding: 7px 10px;
    -webkit-box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
    -moz-box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
    box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
}

.input-telefoonnummer:focus {
    outline: none;
    border: 1px solid green;
}

.input-bericht {
    left: 7%;
    top: 52%;
    position: absolute;
    height: 20%;
    width: 76%;
    border: 1px solid #ccc;
    padding: 7px 10px;
    resize:none;
    -webkit-box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
    -moz-box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
    box-shadow: 4px 5px 11px 1px rgba(13,12,13,0.3);
}

.input-bericht:focus {
    outline: none;
    border: 1px solid green;
}

.bericht-button {
    margin-left: 25%;
    margin-top: 165%;
    background-color: green;
    border: none;
    color: white;
    padding: 7px 15px;
    -webkit-box-shadow: 2px 3.5px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3.5px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3.5px 6px 0px rgba(0,0,0,0.75);
}

.bericht-button:hover {
    border-radius: 15px;
    background-color: black;
}

.bericht-button:focus {
    outline:none;
}