
@{
    ViewBag.Title = "Mainpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Index.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Mainpage</title>
</head>

<body>
    <div class="wrapper-top">

        <a class="top-text">
            Een bosbrand, daar
            <br /> wil jij je vingers toch
            <br /> niet aan verbranden!
        </a>
    </div>
    <div class="wrapper-bottom">
        <a class="bottom-text-title">
            Wij maken gebruik van LoRa om
            <br />onze oplossing te realiseren
        </a>
        <a class="bottom-text">
            LoRaWAN (Long Range Wide Area Network)
            <br />is een specificatie voor een
            <br />telecommunicatienetwerk geschikt voor
            <br />langeafstandscommunicatie met
            <br />weinig vermogen.
        </a>
        <button class="bottom-button" onclick="location.href='@Url.Action("Contact", "Home")'">Neem contact op</button>
    </div>
</body>
</html>
