
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/LoginPage.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>

<body>
    <div class="container-left">
    </div>
    <div class="loginlimiter">
        <div class="container-login">
            <div class="wrapper-login"></div>
        </div>
    </div>

</body>
</html>
