@using ZuydNatuurBrandDetectie.Models
@model IndexVm

@{
    ViewBag.Title = "Overzicht";
    //Redirect gebruiker terug naar hoofdmenu indien niet ingelogd
    if (Session["Function"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

    //Tel alle node objecten die uit de db zijn gevonden op indien actief gelijk is aan true
    int aantalNodes = 0;

    foreach (var node in Model.nodes)
    {
        if (node.actief == true)
        {
            aantalNodes ++;
        }
    }

    //Tel alle temperatuur metingen op en bereken het gemiddelde
    List<int> temps = new List<int>();
    foreach (var meting in Model.metingen)
    {
        temps.Add(meting.temperatuurSensor);
    }

    double gemTemp = temps.Average();

    //Tel alle meldingen op
    int aantalMeldingen = 0;
    foreach (var melding in Model.meldingen)
    {
        aantalMeldingen++;
    }


}


<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Overzicht.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Overzicht</title>
</head>

<body>
    <div class="pageTitle">
        <h1>Overzicht</h1>
    </div>
    <div class="boxContainer">
        <div class="upper-boxes" id="nodesBox">
            <div class="nodesActief">
                <div class="eclipse">
                    <img src="~/Images/overzichtImages/ broadcasting.png" class="eclipseIcon" />
                </div>
                <div class="upper-Title">
                    <h1>@aantalNodes</h1>
                    <!-- Data toevoegen vanuit db - sql statement SELECT * FROM nodes where nodeActief = True -->
                </div>

                <div class="lower-Title">
                    <a>Nodes Actief</a>
                </div>
            </div>
        </div>

        <div class="upper-boxes" id="tempBox">
            <div class="gemTemperatuur">
                <div class="eclipse">
                    <img src="~/Images/overzichtImages/ pulse.png" class="eclipseIcon" />
                </div>

                <div class="upper-Title">
                    <h1>@gemTemp</h1>
                </div>

                <div class="lower-Title">
                    <a>Gemiddelde Temperatuur</a>
                </div>

            </div>
        </div>

        <div class="upper-boxes" id="meldingenBox">
            <div class="aantalMeldingen">
                <div class="eclipse">
                    <img src="~/Images/overzichtImages/ alert-triangle.png" class="eclipseIcon" />
                </div>

                <div class="upper-Title">
                    <h1>@aantalMeldingen</h1>
                </div>

                <div class="lower-Title">
                    <a>Aantal Meldingen</a>
                </div>

            </div>
        </div>

    </div>

    <div class="lowerBoxContainer">
        <div class="lower-boxes">
            <div class="meldingenGraph">

            </div>

            <div class="gemTempNode">

            </div>
        </div>
    </div>
</body>
</html>

