<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Natuurbrand detectie    </title>
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <a href="/home/Mainpage"><img src="~/Images/logo.png" width="65" height="50"></a>
                </div>
                <ul class="nav-items">
                    <li>
                        <a href="/home/Over">Over</a>
                    </li>
                    <li>
                        <a href="#">Overzicht</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                </ul>

                <ul class="right-nav-items">
                    <li>
                        @Html.ActionLink("Login", "Login", "Home")
                    </li>
                    <li>
                        <button href="#">Registreer</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>